.add-item-box {
  display: none;
}
.add-item-box input {
  width: 70px;
  height: 20px;
}
.add-variant-btn i {
  pointer-events: none;
}
.bo-invalid-row {
  background-color: #a1a1a1 !important;
}

.category-action-box {
  width: 100%;
  margin-bottom: 20px;
}

.image-inline {
  height: 100px;
  margin: 0 10px;
  width: 100px;
}
.product-image-wrap {
  display: inline-block;
  height: 100px;
  position: relative;
  width: 100px;
}
.product-image-wrap img {
  height: 100%;
  width: 100%;
}
.product-image-wrap .delete-button {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
}
.product-image-wrap:hover .delete-button {
  display: block;
}

.product-variant-table td {
  vertical-align: middle !important;
}
.product-variant-table td input {
  text-align: center;
}

.product-small-number-input {
  width: 80px;
}

.product-image-trash {
  font-size: 40px;
  float: right;
}

.product-variant-attr-selected-wrap {
  width: 100%;
  margin-bottom: 15px;
}
.product-variant-attr-selected-button {
  margin-right: 15px;
}

.product-variant-attr-candidate-wrap {
  border: 1px solid #cb0102;
  display: inline-block;
  margin-bottom: 15px;
}
.product-variant-color-button {
  width: 100px;
}
.product-variant-size-button {
  width: 50px;
}
.product-variant-attr-candidate-button {
  display: inline-block;
  border: 0 !important;
}
.product-variant-attr-candidate-button + .product-variant-attr-candidate-button {
  border-left: 1px solid #cb0102 !important;
}
