.add-item-box {
  display: none;
}
.add-item-box input {
  width: 70px;
  height: 20px;
}
.add-variant-btn i {
  pointer-events: none;
}
.bo-invalid-row {
  background-color: #a1a1a1 !important;
}

.category-action-box {
  width: 100%;
  margin-bottom: 20px;
}

.image-inline {
  margin: 0 10px;
}

.product-variant-table td {
  vertical-align: middle !important;
}
.product-variant-table td input {
  max-width: 120px;
}
